<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <ul class="nav justify-content">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a routerLink="dashboard" class="nav-link">Liste des commandes</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="form" class="nav-link">Faire une demande</a>
        </li>
    </ul>
  </div>
</nav>
